###############################################
# Business Management System - API (backend)
###############################################

### Jetbrain Software
# IntelliJ IDEA
.idea

### Package Dependency Manager
# NodeJS
node_modules/

# NPM Package
dist

# Yarn
yarn-error.log

### Mac OSX project files
.DS_Store

!src/types.ts

### Generated versions
versions/
