###############################################
# Business Management System - API (backend)
###############################################

### Jetbrain Software
# IntelliJ IDEA
.idea

### Package Dependency Manager
# NodeJS
node_modules/
package-lock.json

# NPM Package
dist

# Yarn
yarn.lock
yarn-error.log

#### Mac OSX project files
.DS_Store

!src/types.ts

### Generated versions
versions/
